.ast-single-product-payments {
  margin-bottom: 1em;
  display: inline-block;
  margin-top: 0;
  padding: 13px 20px 18px;
  border: 1px solid var(--ast-border-color);
  border-radius: 0.25rem;
  width: 100%;
}

.ast-single-product-payments.ast-text-color-version svg {
  fill: var(--ast-global-color-3);
}

.ast-single-product-payments legend {
  padding: 0 8px;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  color: var(--ast-global-color-3);
}

.ast-single-product-payments ul {
  -js-display: flex;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.ast-single-product-payments ul li {
  -js-display: flex;
  display: flex;
  margin: 0 .5em .5em .5em;
}

.ast-single-product-payments ul li svg {
  height: 30px;
  width: auto;
}
